@media only screen and (max-width: 550px) {
    * {
        float: none;
        position: static;
    }

    /* サイト全体のフォント指定 */
    body {
        font-family: "MS Pゴシック";
    }

    .logotype {
        max-width: 100%;
        height: auto;
    }

    .text-background {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        padding: 5px;
        color: #FFF;
        background: #535353;
    }

    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #header_menu {
        display: block;
        position: fixed;
        /*ポジションを固定する*/
        top: 0px;
        /*一番上に設置*/
        left: 0px;
        z-index: 9999;
        /*どの要素よりも上にくるように*/
        background-color: #535353;
        /*メニューバー背景色*/
        width: 100%;
        /*横幅を100%に*/
        padding: 0 0;
    }

    #header_menu a {
        float: left;
        /*メニューを横並びにする*/
        font-size: 16px;
        color: #FFF;
        padding: 10px;
    }

    #header_menu a:after {
        /*floatでデザインが崩れないように*/
        display: block;
        clear: both;
        content: "";
    }

    /* 上のエリア(レイアウトのための装飾)*/
    .over-area {
        height: 100vh;
        padding-top: 100px;
        font-size: 3rem;
        text-align: center;
    }

    /** 背景画像を固定して貼り付ける **/
    .fix-image {
        background-image: url("img/DSC_0882-scaled.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px -100px 50px -50px #fff;
        /*内側にぼかし(影)を入れる*/
    }

    /*下のエリア(レイアウトのための装飾)*/
    .under-area {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-top: 10px;
        font-size: 2.5em;
    }

    .juusyo {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFF;
        background: #535353;
    }

    .juusyo p {
        font-size: 15px;
        color: dimgray;
    }

    .tenme p {
        text-align: center;
        font-size: 1.7em;
    }

    .imsetu {
        width: 90%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
    }

    .nnyi {
        width: 100%;
    }

    .nnyi img {
        width: 100%;
        height: 200px;
    }

    .setume p {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 0.9em;
        margin-left: 5%;
    }

    .goosyo {
        width: 90%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
    }

    .gooma {
        width: 100%;
        margin-top: 0%;
    }

    .gooma iframe {
        width: 100%;
        height: 200px;
    }

    .zyusyo {
        width: 80%;
        margin: 0 auto;
        font-size: 0.9em;
        padding-bottom: 5%;
    }

    .zyusyo p {
        text-align: center;
    }

    .card {
        margin: auto;
        width: 300px;
        height: 300px;
        border: 1px solid lightgray;
    }

    .card:nth-child(2) {
        margin-right: 50px;
        margin-left: 50px;
    }

    .picture img {
        width: 100%;
    }

    .description {
        width: 100%;
        height: 50px;
        padding-right: 12px;
        padding-left: 12px;
        box-sizing: border-box;
    }

    .description p {
        font-size: 23px;
        color: dimgray;
    }


    footer {
        text-align: center;
        background-color: #333333;
        color: #FFFFFF;
        padding: 10px;
    }
}
/*」＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠「*/
@media print,
screen and (min-width: 551px) {
    * {
        float: none;
        position: static;
    }

    /* サイト全体のフォント指定 */
    body {
        font-family: "MS Pゴシック";
    }

    .logotype {
        max-width: 100%;
        height: auto;
    }

    .text-background {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        padding: 5px;
        color: #FFF;
        background: #535353;
    }

    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #header_menu {
        display: block;
        position: fixed;
        /*ポジションを固定する*/
        top: 0px;
        /*一番上に設置*/
        left: 0px;
        z-index: 9999;
        /*どの要素よりも上にくるように*/
        background-color: #535353;
        /*メニューバー背景色*/
        width: 100%;
        /*横幅を100%に*/
        padding: 0 0;
    }

    #header_menu a {
        float: left;
        /*メニューを横並びにする*/
        font-size: 16px;
        color: #FFF;
        padding: 10px;
    }

    #header_menu a:after {
        /*floatでデザインが崩れないように*/
        display: block;
        clear: both;
        content: "";
    }

    /* 上のエリア(レイアウトのための装飾)*/
    .over-area {
        height: 100vh;
        padding-top: 100px;
        font-size: 3rem;
        text-align: center;
    }

    /** 背景画像を固定して貼り付ける **/
    .fix-image {
        background-image: url("img/IMG_9621-scaled.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px -100px 50px -50px #fff;
        /*内側にぼかし(影)を入れる*/
    }

    /*下のエリア(レイアウトのための装飾)*/
    .under-area {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-top: 10px;
        font-size: 2.5em;
    }

    .juusyo {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFF;
        background: #535353;
    }

    .juusyo p {
        font-size: 15px;
        color: dimgray;
    }

    .tenme p {
        text-align: center;
        font-size: 2.5em;
    }

    .imsetu{
        width: 80%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
    }

    .nnyi {
        width: 100%;
    }
    .nnyi img{
        width: 100%;
        height: 450px;
    }
    .setume p{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.8em;
        margin-left: 5%;
    }

    .goosyo{
        width: 80%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
    }

    .gooma {
        width: 100%;
        margin-top: 0%;
    }

    .gooma iframe {
        width: 100%;
        height: 450px;
    }

    .zyusyo {
        width: 80%;
        margin: 0 auto;
        font-size: 1.8em;
        padding-bottom: 5%;
    }
    .zyusyo p {
        text-align: center;
    }

    #cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 300px;
        border: 1px solid lightgray;
    }

    .card:nth-child(2) {
        margin-right: 50px;
        margin-left: 50px;
    }

    .picture img {
        width: 100%;
    }

    .description {
        width: 100%;
        height: 50px;
        padding-right: 12px;
        padding-left: 12px;
        box-sizing: border-box;
    }

    .description p {
        font-size: 23px;
        color: dimgray;
    }


    footer {
        text-align: center;
        background-color: #333333;
        color: #FFFFFF;
        padding: 10px;
    }
}
/*」＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠「*/
@media print,
screen and (min-width: 1150px) {
    * {
        float: none;
        position: static;
    }

    /* サイト全体のフォント指定 */
    body {
        font-family: "MS Pゴシック";
    }

    .logotype {
        max-width: 100%;
        height: auto;
    }

    .text-background {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        padding: 5px;
        color: #FFF;
        background: #535353;
    }

    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #header_menu {
        display: block;
        position: fixed;
        /*ポジションを固定する*/
        top: 0px;
        /*一番上に設置*/
        left: 0px;
        z-index: 9999;
        /*どの要素よりも上にくるように*/
        background-color: #535353;
        /*メニューバー背景色*/
        width: 100%;
        /*横幅を100%に*/
        padding: 0 0;
    }

    #header_menu a {
        float: left;
        /*メニューを横並びにする*/
        font-size: 16px;
        color: #FFF;
        padding: 10px;
    }

    #header_menu a:after {
        /*floatでデザインが崩れないように*/
        display: block;
        clear: both;
        content: "";
    }

    /* 上のエリア(レイアウトのための装飾)*/
    .over-area {
        height: 100vh;
        padding-top: 100px;
        font-size: 3rem;
        text-align: center;
    }

    /** 背景画像を固定して貼り付ける **/
    .fix-image {
        background-image: url("img/IMG_9621-scaled.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px -100px 50px -50px #fff;
        /*内側にぼかし(影)を入れる*/
    }

    /*下のエリア(レイアウトのための装飾)*/
    .under-area {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-top: 10px;
        font-size: 2.5em;
    }

    .juusyo {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFF;
        background: #535353;
    }

    .juusyo p {
        font-size: 15px;
        color: dimgray;
    }

    .tenme p {
        text-align: center;
        font-size: 2.5em;
    }

    .imsetu{
        width: 85%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .nnyi {
        width: 100%;
    }
    .nnyi img{
        width: 700px;
        height: 450px;
    }
    
    .setume p{
        font-size: 1.8em;
        margin-left: 0%;
    }

    .goosyo{
        width: 85%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    .gooma {
        width: 100%;
        margin-top: 0%;
    }

    .gooma iframe {
        width: 700px;
        height: 450px;
    }

    .zyusyo {
        width: 70%;
        margin-right: 0%;
        font-size: 1.8em;
    }
    .zyusyo p {
        padding-top: 30%;
        text-align: left;
    }

    #cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 300px;
        border: 1px solid lightgray;
    }

    .card:nth-child(2) {
        margin-right: 50px;
        margin-left: 50px;
    }

    .picture img {
        width: 100%;
    }

    .description {
        width: 100%;
        height: 50px;
        padding-right: 12px;
        padding-left: 12px;
        box-sizing: border-box;
    }

    .description p {
        font-size: 23px;
        color: dimgray;
    }


    footer {
        text-align: center;
        background-color: #333333;
        color: #FFFFFF;
        padding: 10px;
    }
}